<section>
    <h1>Profil</h1>
    <div *ngIf="auth.isLoggedIn">
      <p>Email: {{ auth.profil.email }}</p>
      <p>Nom: {{ auth.profil.nom }}</p>
      <p>Prénom: {{ auth.profil.prenom }}</p>
      <p>Statut: {{ auth.profil.statut }}</p>
    </div>

    <div *ngIf="!auth.isLoggedIn">
      <p>Vous n'êtes pas connecté.</p>
      <a routerLink="/connexion" *ngIf="!auth.isLoggedIn">Se connecter</a>
    </div>

    <button *ngIf="auth.isLoggedIn" (click)="user.deleteUser(auth.user.uid)">Supprimer mon compte</button>
</section>