<section>

  <form #registerForm="ngForm" (submit)="signUp()" *ngIf="!auth.isLoggedIn">

    <h1>Inscription</h1>
    
    <fieldset>
      <label>Mail<span class="required">*</span></label>
      <input [(ngModel)]="email" name="email" required>
    </fieldset>

    <fieldset>
      <label>Mot de passe<span class="required">*</span></label>
      <input  [(ngModel)]="mdp" name="mdp" required>
    </fieldset>

    <button type="submit" [ngClass]="{'disabled-button': !registerForm.valid}" [disabled]="!registerForm.valid">S'inscrire</button>

  </form>

  <form (submit)="submitProfile()" *ngIf="auth.isLoggedIn" #ctlf="ngForm">
    
    <h1>Compléter ou modifier mon profil</h1>

    <fieldset>
      <label>Nom</label>
      <input name="nom" ngModel required>
    </fieldset>

    <fieldset>
      <label>Prénom</label>
      <input name="prenom" ngModel required>
    </fieldset>

    <input hidden name="email" [ngModel]="auth.user.email">
    <input hidden name="statut" [ngModel]="auth.profil!.statut ? auth.profil.statut : 'user'">
    
    <button type="submit">Compléter</button>
    
  </form>

  <p *ngIf="user.submitMessage">{{ user.submitMessage }}</p>
  <div *ngIf="user.submitMessage">
    <div><a routerLink="/">Retourner à l'accueil</a></div>
    <div><a routerLink="/profil">Voir mon profil</a></div>
  </div>

</section>
