<section>

  <form (submit)="signup()" *ngIf="!auth.isLoggedIn">

    <h1>Inscription</h1>
    
    <fieldset>
      <label>Mail</label>
      <input [(ngModel)]="email" name="email">
    </fieldset>

    <fieldset>
      <label>Mdp</label>
      <input  [(ngModel)]="mdp" name="mdp">
    </fieldset>

    <button type="submit">S'inscrire</button>

  </form>

  <form (submit)="user.manageDoc(ctlf.value)" *ngIf="auth.isLoggedIn" #ctlf="ngForm">
    
    <h1>Compléter ou modifier votre profil</h1>

    <fieldset>
      <label>Nom</label>
      <input name="nom" ngModel required>
    </fieldset>

    <fieldset>
      <label>Prénom</label>
      <input name="prenom" ngModel required>
    </fieldset>

    <input hidden name="email" [ngModel]="auth.user.email">

    <input hidden name="statut" [ngModel]="statutValue">
    
    <button type="submit">Compléter</button>
    
  </form>
</section>
