<section>
  <form [formGroup]="stockForm" (submit)="updateStock()">
    <h1>Modification d'un stock</h1>

    <fieldset>
      <label>Nom<span class="required">*</span></label>
      <input formControlName="name" required>
    </fieldset>

    <fieldset>
      <label>Quantité<span class="required">*</span></label>
      <input type="number" formControlName="quantity" required>
    </fieldset>

    <button type="submit" [ngClass]="{'disabled-button': !stockForm.valid}" [disabled]="!stockForm.valid">Modifier le
      stock </button>
  </form>
</section>