/* Appliquer des styles à l'en-tête */
header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Style du titre principal */
h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Style du sous-titre */
h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Appliquer des styles à la section */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Style du texte de bienvenue */
p {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
    color: #333;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  p:hover {
    transform: scale(1.02);
  }