<section>
  <fieldset>
    <input type="text" [(ngModel)]="filtre" placeholder="Filtre">
  </fieldset>
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Nb. places</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Date</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of paginatedEvents | events:filtre">
        <td><a [routerLink]="['/evenement', event.id]">{{ event.titre | uppercase }}</a></td>
        <td>{{ event.places }}</td>
        <td>{{ event.horaires.debut }}</td>
        <td>{{ event.horaires.fin }}</td>
        <td>{{ event.date | date:'MMM d, y, h:mm:ss a' }}</td>
        <td><img src="{{ event.image }}" alt="Placeholder image"></td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="goToPage(page - 1)" [disabled]="page === 1">Précédent</button>
    <span>{{ page }} / {{ totalPages }}</span>
    <button (click)="goToPage(page + 1)" [disabled]="page === totalPages">Suivant</button>
  </div>
</section>
